.form{
    margin-top: 15px;
    margin-bottom: 15px;
}

.input{
    padding: 3px;
    margin-right: 10px;
    font-size: 16px;
}

.button{
    width: 70px;
    height: 28px;
    font-size: 16px;
    font-weight: 700;
    transition: transform linear 200ms;
}

.button:hover{
    transform: scale(1.05);
}